
footer {visibility: hidden;}
.css-1qk3qfz{
background-image: ;
}
.css-12oz5g7{
    padding-top: 0px;
}
h2{
padding:0px;
}

.css-12oz5g7{
    max-width:100rem;
}
.st-de {

    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
code {
  font-family: Consolas,"courier new";
  color: black;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 20px;
}
